:root {
    /* Fonts */
    --font-primary: "Roboto", sans-serif;;
    --font-size-default: 10px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Colors */
    --color-black: #000;
    --color-white: #fff;
    --color-grey-light: #707070;
    --color-grey-lighter: #E6E6E6;

    /* Radius */
    --radius-default: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--font-size-default);
}

body {
    font-family: var(--font-primary), serif;
    font-size: 1.6rem;
}